<footer class="main-footer">
  <div class="container main-footer-container">
    <h3 class="band-name">Green Day</h3>
    <ul class="nav footer-nav">
      <li>
        <a href="https://www.youtube.com/channel/UCqC_GY2ZiENFz2pwL0cSfAw" target="_blank">
          <img src="Images/YouTube Logo.png" />
        </a>
      </li>
      <li>
        <a href="https://open.spotify.com/artist/7oPftvlwr6VrsViSDV7fJY" target="_blank">
          <img src="Images/Spotify Logo.png" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/GreenDay/" target="_blank">
          <img src="Images/Facebook Logo.png" />
        </a>
      </li>
    </ul>
  </div>
</footer>